<html>
  <head>
    <title>Entrega Final</title>
  </head>
  <body>
    <header>
      <h1>LISTADO DE PRODUCTOS</h1>
      <p>Tenga en cuenta que el listado se actualiza en tiempo real</p>
    </header>

    {{{body}}}

  </body>
</html>
